.backOutRightanimation{
    animation : backOutRight;
    animation-duration: 2s;
}

.notescontainer{
    display: grid;
    justify-content: center;
    margin-top: 80px;
}

input,.Clear{
    height:60px;
    width: 300px;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    outline: none;
}

input::placeholder{
    padding-left: 15px;
}
input{
    border: 0.5px solid grey;
}

.Clear{
    background-color: rgba(255, 91, 91, 0.959);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    background-position: center;
    transition: background 0.5s;
}

.Clear:hover {
    background: rgb(255, 104, 98) radial-gradient(circle, transparent 1%, #e24545 1%) center/15000%;
}

.Clear:active {
    background-color: #e24545;
    background-size: 100%;
    transition: background 0s;
}

h2{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 42px;
}

h4{
    font-weight: normal;
    font-size: 20px;
    font-family: 'Playfair Display', serif;

}
.container{
    background-color: rgb(124, 124, 243);
    width:250px;
    height: 50px;
    margin:  0 auto;
    margin-top: 20px;
    cursor:pointer;
    padding: 5px;
    display: flex;
    position: relative;
}
.container {
    background-position: center;
    transition: background 0.5s;
  }
.container:hover {
    background: rgb(255, 104, 98) radial-gradient(circle, transparent 1%, #e24545 1%) center/15000%;
  }
.container:active {
    background-color: #e24545;
    background-size: 100%;
    transition: background 0s;
  }

.strike{
    text-decoration: line-through;
}
/* h4{
    text-decoration: line-through;

} */
.visiblility{
    opacity: 0;
}

