*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
  background-image: url('/bg2.jpg');
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}
.formBg{
    background-color: rgb(24, 24, 24);
    height: 70vh;
    width: 40vw;
    position: absolute;
    left:30%;
    top:15%;
    border-radius: 7px;
}
.logo>img{
    margin-top: 15px;
    height:45px;
}
.logo>h2{
   display: inline;
   font-size:29px;
   margin-left: 5px;
   margin-top: 15px;
   color: white;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.signOptions{
    color: white;
    display: flex;
    gap:35px;
    justify-content: center;
    margin-top: 28px;
    font-size: 12px;
    
}
form{
    text-align: center;
    margin-top: 25px;
    
}
#name, #password, #button{
    display: flex;
    margin: 0 auto;
    height: 40px;
    width:30vw;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    text-align: center;
    outline: none;
    font-family: 'Marcellus', serif;
}
#checkbox{
    height:15px;
}
label{
     color: white;
     font-family: 'Marcellus', serif;
     font-size: 14px;
}
#button{
    background-color: #09973b;
    text-align: center;
    display: inline;
    margin-top: 15px;
    cursor: pointer;
}
a{
    color: grey;
    font-family: 'Marcellus', serif;
    text-decoration: none;
    display: block;
    margin-top: 25px;
}
#button:hover{
    color:#ffffff;
}
h3:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media all and (max-width: 699px) and (min-width: 150px){
    .formBg{
       width:100vw;
       height: 100vh;
       left:0;
       top:0;
       border-radius: 0;
    }
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 70px;
    }
    .logo>h2{
        display: inline;
        font-size:35px;
        margin-left: 5px;
        margin-top: 15px;
        color: white;
     }
    .signOptions{
        color: white;
        display: flex;
        gap:35px;
        justify-content: center;
        margin-top: 60px;
        font-size: 17px;
        
    }
    #name, #password, #button{
        display: flex;
        margin: 0 auto;
        height: 40px;
        width:75vw;
        margin-bottom: 15px;
        border: none;
        border-radius: 20px;
        text-align: center;
        outline: none;
        font-family: 'Marcellus', serif;
    }
    #button{
        background-color: #09973b;
        text-align: center;
        display: inline;
        margin-top: 15px;
        cursor: pointer;
    }
}